In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv("data/stocks.csv")
data.head()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv("data/stocks.csv", index_col="high")
f = data.loc[49.10]

In [ ]:
data.loc[data['symbol'] == "MSFT"]

In [ ]:
data['high'].min()

In [ ]:
data.describe()

# average_high

In [ ]:
def Av_High(df):
    dtype = type(data['high'])
    high = data['high'].sum()
    print(high)
    average = high/len(data['high'])
    print(average)
    return average
Av_High(data)

In [ ]:
import matplotlib.pyplot as pd
# data = pd.read_csv("data/stocks.csv")

def openy_stock(numero):
    print(Av_High(numero))
    int(Av_High(numero))
    if numero > Av_High(numero):
        return "High Open"
    else:
        return "Low Open"

In [ ]:
openy_stock(200)

In [ ]:
import matplotlib.pyplot as pd
# data = pd.read_csv("data/stocks.csv")

def New_Col(df):
    if "open" in df.columns:
        df["Category by Open"] =  df["open"].apply(openy_stock)
        return df
    else:
        return "Dataframe error"

In [ ]:
result = New_Col(data)
result

# akiro

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

class MyIterator:
    def __iter__(self) -> None:
        self.n = 0
        return self
    
    def __next__(self):
        self.n +=1
        return self.n
    
obj = MyIterator()
it = iter(obj)
print(next(it))
print(next(it))
print(next(it))

In [ ]:
import numpy as np

x_vlaues = np.arange(0,1000, 20)
print(x_vlaues)

x_vlaues = np.linspace(0,1000,1001)
print(x_vlaues)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
heights = np.random.normal(170, 55, 300)

plt.violinplot(heights)
plt.show()

In [ ]:
import numpy as np

array = np.linspace(10, 100, 4)
print(array)

In [17]:
import pandas as pd
data = {'name':["PAOK","OSFP","ARIS","AEK"], 'score':[0,0,0,0]}
df = pd.DataFrame(data, index=[1,2,3,4])
df

   name  score
1  PAOK      0
2  OSFP      0
3  ARIS      0
4   AEK      0

In [ ]:
new_row = pd.DataFrame({'name' : "OFI", 'score': 0 }, index=[0])
df = pd.concat((new_row, df)).reset_index(drop=True)
df.head()

In [20]:

df.head()

def winner(score_A, score_B, goal_A, goal_B):
    goal_A= int(goal_A)
    goal_B= int(goal_B)
    score_A = int(score_A)
    score_B = int(score_B)
    if goal_A == goal_B:
        score_A +=1
        score_B +=1
    elif goal_A > goal_B:
        score_A +=3
    else:
        score_B +=3
    return score_A, score_B

def update_score(team_name_A, team_name_B, goal_A, goal_B):
    index_A = df.index[df['name'] == team_name_A].tolist()
    index_B = df.index[df['name'] == team_name_B].tolist()
    
    if len(index_A) == 0:
        print(f"Δεν βρέθηκε ομάδα με το όνομα {team_name_A}.")
    elif len(index_B) == 0:
        print(f"Δεν βρέθηκε ομάδα με το όνομα {team_name_B}.")
    else:
        current_score_A = df.loc[index_A, 'score'].values[0]
        current_score_B = df.loc[index_B, 'score'].values[0]
        new_score_A, new_score_B = winner(current_score_A, current_score_B, goal_A, goal_B)
        df.loc[index_A, 'score'] = new_score_A
        df.loc[index_B, 'score'] = new_score_B

update_score("ARIS", "AEK", 1, 1)

In [21]:
df.head()

   name  score
1  PAOK      3
2  OSFP      0
3  ARIS      1
4   AEK      1