In [1]:
import pandas as pd

flights = pd.read_csv('C:/Users/xrist/OneDrive/Υπολογιστής/data/Data-Science-Tutorials/data/flights.csv', dtype={'DEP_DELAY': float}, parse_dates=['FL_DATE'])
print(flights.shape)
flights.sample(5)

(7422037, 20)

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 19
1222372,2019-03-06,N131EV,9E,ATL,"Atlanta, GA",GNV,"Gainesville, FL",2227.0,-5.0,2334.0,-12.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6530245,2019-11-17,N205WN,WN,SMF,"Sacramento, CA",BUR,"Burbank, CA",2039.0,-6.0,2206.0,11.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
602007,2019-02-01,N478AS,AS,SJC,"San Jose, CA",PDX,"Portland, OR",618.0,-7.0,805.0,-10.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4039553,2019-07-20,N672DL,DL,ATL,"Atlanta, GA",BOS,"Boston, MA",8.0,108.0,231.0,97.0,0.0,NaN,0.0,42.0,0.0,0.0,0.0,55.0,NaN
5462509,2019-09-26,N237WN,WN,DEN,"Denver, CO",AUS,"Austin, TX",1136.0,1.0,1445.0,-5.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
flights["DEP_TIME"].nlargest(5)

5921     2400.0
23639    2400.0
24186    2400.0
25064    2400.0
25217    2400.0
Name: DEP_TIME, dtype: float64

In [2]:
flights.drop('Unnamed: 19', axis=1, inplace=True)
flights.sample(5)

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
6225224,2019-11-02,N731SA,WN,OKC,"Oklahoma City, OK",STL,"St. Louis, MO",839.0,-1.0,1004.0,-1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
445367,2019-01-24,N8559Q,WN,BUF,"Buffalo, NY",PHX,"Phoenix, AZ",802.0,2.0,1100.0,-10.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
875064,2019-02-16,N326MS,YV,PHX,"Phoenix, AZ",ABQ,"Albuquerque, NM",44.0,-5.0,147.0,-11.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4778415,2019-08-23,N298JB,B6,FLL,"Fort Lauderdale, FL",HPN,"White Plains, NY",1723.0,-7.0,2031.0,-1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2765995,2019-05-20,N8903A,OO,IDA,"Idaho Falls, ID",SLC,"Salt Lake City, UT",1821.0,-9.0,1927.0,-14.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [3]:
hierarchical_flights = flights.set_index(['CARRIER', 'ORIGIN', 
                                          'DEST', 'TAIL_NUM', 
                                          'FL_DATE'])

hierarchical_flights = hierarchical_flights.sort_index(level=['CARRIER', 'ORIGIN', 
                                                              'DEST', 'TAIL_NUM', 
                                                              'FL_DATE'])

hierarchical_flights[40:90]

                                                       ORIGIN_CITY_NAME  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11  Allentown/Bethlehem/Easton, PA
                             2019-10-21  Allentown/Bethlehem/Easton, PA
                    N147PQ   2019-05-31  Allentown/Bethlehem/Easton, PA
                             2019-06-16  Allentown/Bethlehem/Easton, PA
                             2019-08-08  Allentown/Bethlehem/Easton, PA
                             2019-08-09  Allentown/Bethlehem/Easton, PA
                             2019-12-18  Allentown/Bethlehem/Easton, PA
                    N153PQ   2019-01-27  Allentown/Bethlehem/Easton, PA
                             2019-03-30  Allentown/Bethlehem/Easton, PA
                             2019-12-05  Allentown/Bethlehem/Easton, PA
                    N166PQ   2019-08-15  Allentown/Bethlehem/Easton, PA
                             2019-08-26  Allentown/Bethlehem/Easton, PA
                             2019-09-11  Allentown/Bethlehem/Easton, PA
                             2019-10-18  Allentown/Bethlehem/Easton, PA
                    N176PQ   2019-04-05  Allentown/Bethlehem/Easton, PA
                             2019-10-24  Allentown/Bethlehem/Easton, PA
                             2019-11-06  Allentown/Bethlehem/Easton, PA
                             2019-11-15  Allentown/Bethlehem/Easton, PA
                    N181PQ   2019-03-06  Allentown/Bethlehem/Easton, PA
                             2019-05-19  Allentown/Bethlehem/Easton, PA
                             2019-06-10  Allentown/Bethlehem/Easton, PA
                             2019-10-17  Allentown/Bethlehem/Easton, PA
                             2019-10-18  Allentown/Bethlehem/Easton, PA
                             2019-12-11  Allentown/Bethlehem/Easton, PA
                    N186PQ   2019-01-25  Allentown/Bethlehem/Easton, PA
                             2019-01-30  Allentown/Bethlehem/Easton, PA
                             2019-02-05  Allentown/Bethlehem/Easton, PA
                             2019-02-07  Allentown/Bethlehem/Easton, PA
                             2019-08-28  Allentown/Bethlehem/Easton, PA
                             2019-10-08  Allentown/Bethlehem/Easton, PA
                    N195PQ   2019-01-04  Allentown/Bethlehem/Easton, PA
                             2019-09-02  Allentown/Bethlehem/Easton, PA
                             2019-12-20  Allentown/Bethlehem/Easton, PA
                    N197PQ   2019-04-22  Allentown/Bethlehem/Easton, PA
                             2019-05-12  Allentown/Bethlehem/Easton, PA
                             2019-05-12  Allentown/Bethlehem/Easton, PA
                             2019-05-26  Allentown/Bethlehem/Easton, PA
                             2019-06-17  Allentown/Bethlehem/Easton, PA
                             2019-10-17  Allentown/Bethlehem/Easton, PA
                             2019-11-08  Allentown/Bethlehem/Easton, PA
                    N200PQ   2019-03-12  Allentown/Bethlehem/Easton, PA
                             2019-06-01  Allentown/Bethlehem/Easton, PA
                             2019-08-05  Allentown/Bethlehem/Easton, PA
                             2019-11-15  Allentown/Bethlehem/Easton, PA
                    N228PQ   2019-02-21  Allentown/Bethlehem/Easton, PA
                             2019-03-05  Allentown/Bethlehem/Easton, PA
                             2019-04-29  Allentown/Bethlehem/Easton, PA
                             2019-05-01  Allentown/Bethlehem/Easton, PA
                             2019-05-03  Allentown/Bethlehem/Easton, PA
                             2019-12-19  Allentown/Bethlehem/Easton, PA

                                        DEST_CITY_NAME  DEP_TIME  DEP_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11    Atlanta, GA    1301.0       -5.0
                             2019-10-21    Atlanta, GA    1438.0       95.0
                    N147PQ   2019-05-31    Atlanta, GA     605.0       -5.0
                             2019-06-16    Atlanta, GA    1301.0       -4.0
                             2019-08-08    Atlanta, GA    1302.0       -3.0
                             2019-08-09    Atlanta, GA    1342.0       37.0
                             2019-12-18    Atlanta, GA    1817.0       25.0
                    N153PQ   2019-01-27    Atlanta, GA    1747.0       -6.0
                             2019-03-30    Atlanta, GA    1345.0      -10.0
                             2019-12-05    Atlanta, GA    1300.0       -4.0
                    N166PQ   2019-08-15    Atlanta, GA    1254.0      -11.0
                             2019-08-26    Atlanta, GA    1257.0       -8.0
                             2019-09-11    Atlanta, GA    1751.0       -5.0
                             2019-10-18    Atlanta, GA    1821.0       26.0
                    N176PQ   2019-04-05    Atlanta, GA    1753.0       -5.0
                             2019-10-24    Atlanta, GA    1751.0       -4.0
                             2019-11-06    Atlanta, GA    1257.0       -8.0
                             2019-11-15    Atlanta, GA    1759.0        4.0
                    N181PQ   2019-03-06    Atlanta, GA    1757.0        2.0
                             2019-05-19    Atlanta, GA    1754.0       -4.0
                             2019-06-10    Atlanta, GA       NaN        NaN
                             2019-10-17    Atlanta, GA    1254.0       -9.0
                             2019-10-18    Atlanta, GA    1257.0       -6.0
                             2019-12-11    Atlanta, GA    1750.0       -2.0
                    N186PQ   2019-01-25    Atlanta, GA    1330.0       20.0
                             2019-01-30    Atlanta, GA    1802.0        9.0
                             2019-02-05    Atlanta, GA    1751.0       -2.0
                             2019-02-07    Atlanta, GA    1805.0       12.0
                             2019-08-28    Atlanta, GA    1259.0       -6.0
                             2019-10-08    Atlanta, GA    1749.0       -6.0
                    N195PQ   2019-01-04    Atlanta, GA     555.0       -5.0
                             2019-09-02    Atlanta, GA    1310.0       -5.0
                             2019-12-20    Atlanta, GA    1754.0        2.0
                    N197PQ   2019-04-22    Atlanta, GA    1801.0        3.0
                             2019-05-12    Atlanta, GA     640.0        0.0
                             2019-05-12    Atlanta, GA    1354.0       -6.0
                             2019-05-26    Atlanta, GA     634.0       -6.0
                             2019-06-17    Atlanta, GA    1316.0       11.0
                             2019-10-17    Atlanta, GA    1755.0        0.0
                             2019-11-08    Atlanta, GA    1752.0       -3.0
                    N200PQ   2019-03-12    Atlanta, GA    1258.0       -5.0
                             2019-06-01    Atlanta, GA     635.0       -5.0
                             2019-08-05    Atlanta, GA    1743.0      -12.0
                             2019-11-15    Atlanta, GA    1302.0       -3.0
                    N228PQ   2019-02-21    Atlanta, GA    1350.0       40.0
                             2019-03-05    Atlanta, GA    1251.0      -12.0
                             2019-04-29    Atlanta, GA    1743.0      -15.0
                             2019-05-01    Atlanta, GA    1956.0      118.0
                             2019-05-03    Atlanta, GA    1258.0       -5.0
                             2019-12-19    Atlanta, GA    1302.0       -2.0

                                         ARR_TIME  ARR_DELAY  CANCELLED  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11    1501.0      -20.0        0.0
                             2019-10-21    1652.0       95.0        0.0
                    N147PQ   2019-05-31     804.0      -15.0        0.0
                             2019-06-16    1453.0      -21.0        0.0
                             2019-08-08    1456.0      -18.0        0.0
                             2019-08-09    1542.0       28.0        0.0
                             2019-12-18    2034.0       15.0        0.0
                    N153PQ   2019-01-27    2008.0       -6.0        0.0
                             2019-03-30    1539.0      -28.0        0.0
                             2019-12-05    1456.0      -32.0        0.0
                    N166PQ   2019-08-15    1500.0      -14.0        0.0
                             2019-08-26    1501.0      -13.0        0.0
                             2019-09-11    1948.0      -19.0        0.0
                             2019-10-18    2030.0       25.0        0.0
                    N176PQ   2019-04-05    1951.0      -23.0        0.0
                             2019-10-24    2004.0       -1.0        0.0
                             2019-11-06    1505.0      -25.0        0.0
                             2019-11-15    1959.0      -15.0        0.0
                    N181PQ   2019-03-06    2018.0       13.0        0.0
                             2019-05-19    1944.0      -30.0        0.0
                             2019-06-10       NaN        NaN        1.0
                             2019-10-17    1454.0      -23.0        0.0
                             2019-10-18    1453.0      -24.0        0.0
                             2019-12-11    2000.0      -19.0        0.0
                    N186PQ   2019-01-25    1558.0       34.0        0.0
                             2019-01-30    2127.0       73.0        0.0
                             2019-02-05    1951.0      -23.0        0.0
                             2019-02-07    2010.0       -4.0        0.0
                             2019-08-28    1459.0      -15.0        0.0
                             2019-10-08    1950.0      -15.0        0.0
                    N195PQ   2019-01-04     813.0      -18.0        0.0
                             2019-09-02    1503.0      -26.0        0.0
                             2019-12-20    2022.0        3.0        0.0
                    N197PQ   2019-04-22    1954.0      -20.0        0.0
                             2019-05-12     858.0        8.0        0.0
                             2019-05-12    1601.0      -12.0        0.0
                             2019-05-26     823.0      -27.0        0.0
                             2019-06-17    1512.0       -2.0        0.0
                             2019-10-17    1951.0      -14.0        0.0
                             2019-11-08    2010.0       -4.0        0.0
                    N200PQ   2019-03-12    1512.0       -1.0        0.0
                             2019-06-01     844.0       -4.0        0.0
                             2019-08-05    2008.0        2.0        0.0
                             2019-11-15    1452.0      -38.0        0.0
                    N228PQ   2019-02-21    1602.0       38.0        0.0
                             2019-03-05    1508.0       -5.0        0.0
                             2019-04-29    1936.0      -38.0        0.0
                             2019-05-01    2201.0      107.0        0.0
                             2019-05-03    1455.0      -19.0        0.0
                             2019-12-19    1505.0      -23.0        0.0

                                        CANCELLATION_CODE  DIVERTED  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11               NaN       0.0
                             2019-10-21               NaN       0.0
                    N147PQ   2019-05-31               NaN       0.0
                             2019-06-16               NaN       0.0
                             2019-08-08               NaN       0.0
                             2019-08-09               NaN       0.0
                             2019-12-18               NaN       0.0
                    N153PQ   2019-01-27               NaN       0.0
                             2019-03-30               NaN       0.0
                             2019-12-05               NaN       0.0
                    N166PQ   2019-08-15               NaN       0.0
                             2019-08-26               NaN       0.0
                             2019-09-11               NaN       0.0
                             2019-10-18               NaN       0.0
                    N176PQ   2019-04-05               NaN       0.0
                             2019-10-24               NaN       0.0
                             2019-11-06               NaN       0.0
                             2019-11-15               NaN       0.0
                    N181PQ   2019-03-06               NaN       0.0
                             2019-05-19               NaN       0.0
                             2019-06-10                 B       0.0
                             2019-10-17               NaN       0.0
                             2019-10-18               NaN       0.0
                             2019-12-11               NaN       0.0
                    N186PQ   2019-01-25               NaN       0.0
                             2019-01-30               NaN       0.0
                             2019-02-05               NaN       0.0
                             2019-02-07               NaN       0.0
                             2019-08-28               NaN       0.0
                             2019-10-08               NaN       0.0
                    N195PQ   2019-01-04               NaN       0.0
                             2019-09-02               NaN       0.0
                             2019-12-20               NaN       0.0
                    N197PQ   2019-04-22               NaN       0.0
                             2019-05-12               NaN       0.0
                             2019-05-12               NaN       0.0
                             2019-05-26               NaN       0.0
                             2019-06-17               NaN       0.0
                             2019-10-17               NaN       0.0
                             2019-11-08               NaN       0.0
                    N200PQ   2019-03-12               NaN       0.0
                             2019-06-01               NaN       0.0
                             2019-08-05               NaN       0.0
                             2019-11-15               NaN       0.0
                    N228PQ   2019-02-21               NaN       0.0
                             2019-03-05               NaN       0.0
                             2019-04-29               NaN       0.0
                             2019-05-01               NaN       0.0
                             2019-05-03               NaN       0.0
                             2019-12-19               NaN       0.0

                                         CARRIER_DELAY  WEATHER_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11            NaN            NaN
                             2019-10-21            0.0            0.0
                    N147PQ   2019-05-31            NaN            NaN
                             2019-06-16            NaN            NaN
                             2019-08-08            NaN            NaN
                             2019-08-09            7.0            0.0
                             2019-12-18            0.0           15.0
                    N153PQ   2019-01-27            NaN            NaN
                             2019-03-30            NaN            NaN
                             2019-12-05            NaN            NaN
                    N166PQ   2019-08-15            NaN            NaN
                             2019-08-26            NaN            NaN
                             2019-09-11            NaN            NaN
                             2019-10-18            0.0            0.0
                    N176PQ   2019-04-05            NaN            NaN
                             2019-10-24            NaN            NaN
                             2019-11-06            NaN            NaN
                             2019-11-15            NaN            NaN
                    N181PQ   2019-03-06            NaN            NaN
                             2019-05-19            NaN            NaN
                             2019-06-10            NaN            NaN
                             2019-10-17            NaN            NaN
                             2019-10-18            NaN            NaN
                             2019-12-11            NaN            NaN
                    N186PQ   2019-01-25           20.0            0.0
                             2019-01-30            0.0            9.0
                             2019-02-05            NaN            NaN
                             2019-02-07            NaN            NaN
                             2019-08-28            NaN            NaN
                             2019-10-08            NaN            NaN
                    N195PQ   2019-01-04            NaN            NaN
                             2019-09-02            NaN            NaN
                             2019-12-20            NaN            NaN
                    N197PQ   2019-04-22            NaN            NaN
                             2019-05-12            NaN            NaN
                             2019-05-12            NaN            NaN
                             2019-05-26            NaN            NaN
                             2019-06-17            NaN            NaN
                             2019-10-17            NaN            NaN
                             2019-11-08            NaN            NaN
                    N200PQ   2019-03-12            NaN            NaN
                             2019-06-01            NaN            NaN
                             2019-08-05            NaN            NaN
                             2019-11-15            NaN            NaN
                    N228PQ   2019-02-21            0.0            0.0
                             2019-03-05            NaN            NaN
                             2019-04-29            NaN            NaN
                             2019-05-01            0.0            0.0
                             2019-05-03            NaN            NaN
                             2019-12-19            NaN            NaN

                                         NAS_DELAY  SECURITY_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11        NaN             NaN
                             2019-10-21        0.0             0.0
                    N147PQ   2019-05-31        NaN             NaN
                             2019-06-16        NaN             NaN
                             2019-08-08        NaN             NaN
                             2019-08-09        0.0             0.0
                             2019-12-18        0.0             0.0
                    N153PQ   2019-01-27        NaN             NaN
                             2019-03-30        NaN             NaN
                             2019-12-05        NaN             NaN
                    N166PQ   2019-08-15        NaN             NaN
                             2019-08-26        NaN             NaN
                             2019-09-11        NaN             NaN
                             2019-10-18        0.0             0.0
                    N176PQ   2019-04-05        NaN             NaN
                             2019-10-24        NaN             NaN
                             2019-11-06        NaN             NaN
                             2019-11-15        NaN             NaN
                    N181PQ   2019-03-06        NaN             NaN
                             2019-05-19        NaN             NaN
                             2019-06-10        NaN             NaN

In [20]:
flights=flights.rename(columns={'ORIGIN_CITY_NAME':'ORIGIN_CITY','DEST_CITY_NAME':'DEST_CITY'})
flights

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2019-01-01,N8974C,9E,AVL,"Asheville, NC",ATL,"Atlanta, GA",1658.0,-7.0,1758.0,-22.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,N922XJ,9E,JFK,"New York, NY",RDU,"Raleigh/Durham, NC",1122.0,-8.0,1255.0,-29.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,N326PQ,9E,CLE,"Cleveland, OH",DTW,"Detroit, MI",1334.0,-7.0,1417.0,-31.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,N135EV,9E,BHM,"Birmingham, AL",ATL,"Atlanta, GA",1059.0,-1.0,1255.0,-8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,N914XJ,9E,GTF,"Great Falls, MT",MSP,"Minneapolis, MN",1057.0,-3.0,1418.0,-17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422032,2019-12-31,N759EV,OO,ORD,"Chicago, IL",ROC,"Rochester, NY",1138.0,1004.0,1416.0,985.0,0.0,NaN,0.0,985.0,0.0,0.0,0.0,0.0
7422033,2019-12-31,N761ND,OO,ORD,"Chicago, IL",FWA,"Fort Wayne, IN",2139.0,189.0,2331.0,165.0,0.0,NaN,0.0,148.0,0.0,0.0,0.0,17.0
7422034,2019-12-31,N192SY,OO,DAL,"Dallas, TX",PDX,"Portland, OR",754.0,-6.0,1013.0,-17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7422035,2019-12-31,N403SY,OO,PDX,"Portland, OR",DAL,"Dallas, TX",708.0,-2.0,1246.0,-13.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7422036,2019-12-31,N183SY,OO,TUS,"Tucson, AZ",SJC,"San Jose, CA",802.0,-13.0,859.0,-36.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [45]:
hierarchical_flights.index.get_level_values('CARRIER').value_counts()
# hierarchical_flights.index.get_level_values(0).value_counts()

CARRIER
WN    1363946
DL     991986
AA     946776
OO     836445
UA     625910
YX     329149
MQ     327007
B6     297411
OH     289304
AS     264816
9E     257132
YV     227888
NK     204845
F9     135543
EV     134683
G4     105305
HA      83891
Name: count, dtype: int64

In [46]:
hierarchical_flights.index.get_level_values('ORIGIN').value_counts()

ORIGIN
ATL    395009
ORD    339606
DFW    304344
DEN    252026
CLT    235496
        ...
HYA        83
DLG        82
GST        82
PGV        80
AKN        61
Name: count, Length: 360, dtype: int64

In [47]:
hierarchical_flights.index.get_level_values('DEST').value_counts()[:10]

DEST
ATL    395026
ORD    339569
DFW    304346
DEN    252064
CLT    235490
LAX    219996
IAH    179682
PHX    175343
LGA    171665
SFO    170966
Name: count, dtype: int64

In [48]:
delayed_flights = hierarchical_flights.loc[hierarchical_flights['DEP_DELAY'] > 0]
delayed_flights['DEP_DELAY']

CARRIER  ORIGIN  DEST  TAIL_NUM  FL_DATE
9E       ABE     ATL   N131EV    2019-02-22      9.0
                                 2019-04-19      2.0
                       N132EV    2019-04-09     43.0
                       N133EV    2019-04-25     10.0
                                 2019-12-23     49.0
                                               ...
YX       XNA     PHL   N138HQ    2019-09-06    107.0
                                 2019-12-13     36.0
                       N416YX    2019-09-28      3.0
                       N428YX    2019-10-16     22.0
                       N433YX    2019-12-01    116.0
Name: DEP_DELAY, Length: 2521492, dtype: float64

In [49]:
delayed_flights_by_origin = delayed_flights.groupby(level='ORIGIN')['DEP_DELAY']\
    .agg(['median', 'mean', 'count'])\
    .sort_values(by='median', ascending=False)
delayed_flights_by_origin[:10]

        median        mean  count
ORIGIN
DVL       77.0  141.301587    126
SLN       59.0  110.613546    251
SHD       57.0  116.976608    171
HYS       51.0  117.920266    301
VEL       50.0   88.461538    130
UIN       48.0   90.852071    169
ATY       48.0  113.400000    105
OTH       47.0   89.480519    154
ACV       46.0   91.726210    599
CMX       46.0  112.664894    188

In [50]:
# TODO
# Καλό θα είναι να δούμε και το ποσοστό των πτήσεων που καθυστερούν.
# to_frame()#

air_traffic = hierarchical_flights.groupby('ORIGIN').size().to_frame(name='total_departures')
air_traffic.sort_values(by='total_departures',ascending=False)[1:10]

        total_departures
ORIGIN
ORD               339606
DFW               304344
DEN               252026
CLT               235496
LAX               219952
IAH               179688
PHX               175328
LGA               171665
SFO               170918

# merge frames

In [51]:
delayed_flights_by_origin = pd.merge(air_traffic, delayed_flights_by_origin, left_index=True, right_index=True)
delayed_flights_by_origin

        total_departures  median       mean  count
ORIGIN
ABE                 5014    21.0  54.495347   1397
ABI                 2272    18.0  46.328424    679
ABQ                23731    12.0  34.567696   8420
ABR                  750    20.0  80.924324    185
ABY                 1005    17.5  56.511029    272
...                  ...     ...        ...    ...
WYS                  264    11.0  86.491525     59
XNA                14134    26.5  57.202274   3782
XWA                  207    19.0  75.881720     93
YAK                  722    15.0  32.479042    167
YUM                 1919    18.5  54.035912    362

[360 rows x 4 columns]

# perc % delay by origin (group, merge)

In [52]:
delayed_flights_by_origin['perc_of_delay']= \
    delayed_flights_by_origin['count']/delayed_flights_by_origin['total_departures']

delayed_flights_by_origin

        total_departures  median       mean  count  perc_of_delay
ORIGIN
ABE                 5014    21.0  54.495347   1397       0.278620
ABI                 2272    18.0  46.328424    679       0.298856
ABQ                23731    12.0  34.567696   8420       0.354810
ABR                  750    20.0  80.924324    185       0.246667
ABY                 1005    17.5  56.511029    272       0.270647
...                  ...     ...        ...    ...            ...
WYS                  264    11.0  86.491525     59       0.223485
XNA                14134    26.5  57.202274   3782       0.267582
XWA                  207    19.0  75.881720     93       0.449275
YAK                  722    15.0  32.479042    167       0.231302
YUM                 1919    18.5  54.035912    362       0.188640

[360 rows x 5 columns]

Με ένα ιεραρχικό ευρετήριο μπορούμε να φιλτράρουμε τα δεδομένα μας εύκολα, χωρίς να χρειάζεται να χρησιμοποιούμε λογικές συνθήκες σύγκρισης.

Αν θέλουμε να βρούμε τις πτήσεις που έγιναν από Southwest Airlines (WN), Delta (DL), και American Airlines (AA) αρκεί να δώσουμε:

In [21]:
hierarchical_flights.loc[["WN", "DL", "AA"], ['DEP_TIME','DEP_DELAY']]

                                         DEP_TIME  DEP_DELAY
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
WN      ABQ    AUS  N204WN   2019-09-01    1204.0       -6.0
                    N205WN   2019-08-03    1519.0        4.0
                    N211WN   2019-02-10    1950.0        5.0
                    N212WN   2019-03-03     811.0       71.0
                    N219WN   2019-07-21    1920.0       20.0
...                                           ...        ...
AA      XNA    ORD  N871NN   2019-06-07    1541.0      -10.0
                    N878NN   2019-06-07    1737.0       -6.0
                    N988NN   2019-06-04    1606.0       15.0
               PHL  N824AW   2019-06-03     710.0       80.0
                    N832AW   2019-06-08    1516.0      -14.0

[3302708 rows x 2 columns]

In [46]:
r = hierarchical_flights2.loc[("Boston, MA", ["Aberdeen, SD","Minneapolis, MN","Las Vegas, NV"]), :]
r

                               FL_DATE TAIL_NUM CARRIER ORIGIN DEST  DEP_TIME  \
ORIGIN_CITY DEST_CITY
Boston, MA  Minneapolis, MN 2019-01-01   N352DN      DL    BOS  MSP     540.0
            Minneapolis, MN 2019-01-01   N378NW      DL    BOS  MSP    1432.0
            Minneapolis, MN 2019-01-01   N359NW      DL    BOS  MSP    1840.0
            Minneapolis, MN 2019-01-01   N367NW      DL    BOS  MSP    1128.0
            Minneapolis, MN 2019-01-01   N179JB      B6    BOS  MSP    1417.0
...                                ...      ...     ...    ...  ...       ...
            Las Vegas, NV   2019-12-31   N923JB      B6    BOS  LAS    2126.0
            Las Vegas, NV   2019-12-31   N841DN      DL    BOS  LAS     955.0
            Las Vegas, NV   2019-12-31   N580JB      B6    BOS  LAS    1655.0
            Las Vegas, NV   2019-12-31   N623JB      B6    BOS  LAS     623.0
            Las Vegas, NV   2019-12-31   N964JT      B6    BOS  LAS     801.0

                             DEP_DELAY  ARR_TIME  ARR_DELAY  CANCELLED  \
ORIGIN_CITY DEST_CITY
Boston, MA  Minneapolis, MN        0.0     812.0        4.0        0.0
            Minneapolis, MN       -3.0    1654.0        1.0        0.0
            Minneapolis, MN       -7.0    2107.0      -15.0        0.0
            Minneapolis, MN       -3.0    1355.0        0.0        0.0
            Minneapolis, MN       -8.0    1659.0        0.0        0.0
...                                ...       ...        ...        ...
            Las Vegas, NV        -10.0    2352.0      -55.0        0.0
            Las Vegas, NV          0.0    1223.0      -34.0        0.0
            Las Vegas, NV          6.0    1909.0      -55.0        0.0
            Las Vegas, NV         -2.0     844.0      -57.0        0.0
            Las Vegas, NV          1.0    1019.0      -57.0        0.0

                            CANCELLATION_CODE  DIVERTED  CARRIER_DELAY  \
ORIGIN_CITY DEST_CITY
Boston, MA  Minneapolis, MN               NaN       0.0            NaN
            Minneapolis, MN               NaN       0.0            NaN
            Minneapolis, MN               NaN       0.0            NaN
            Minneapolis, MN               NaN       0.0            NaN
            Minneapolis, MN               NaN       0.0            NaN
...                                       ...       ...            ...
            Las Vegas, NV                 NaN       0.0            NaN
            Las Vegas, NV                 NaN       0.0            NaN
            Las Vegas, NV                 NaN       0.0            NaN
            Las Vegas, NV                 NaN       0.0            NaN
            Las Vegas, NV                 NaN       0.0            NaN

                             WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  \
ORIGIN_CITY DEST_CITY
Boston, MA  Minneapolis, MN            NaN        NaN             NaN
            Minneapolis, MN            NaN        NaN             NaN
            Minneapolis, MN            NaN        NaN             NaN
            Minneapolis, MN            NaN        NaN             NaN
            Minneapolis, MN            NaN        NaN             NaN
...                                    ...        ...             ...
            Las Vegas, NV              NaN        NaN             NaN
            Las Vegas, NV              NaN        NaN             NaN
            Las Vegas, NV              NaN        NaN             NaN
            Las Vegas, NV              NaN        NaN             NaN
            Las Vegas, NV              NaN        NaN             NaN

                             LATE_AIRCRAFT_DELAY
ORIGIN_CITY DEST_CITY
Boston, MA  Minneapolis, MN                  NaN
            Minneapolis, MN                  NaN
            Minneapolis, MN                  NaN
            Minneapolis, MN                  NaN
            Minneapolis, MN                  NaN
...                                          ...
            Las Vegas, NV                    NaN
            Las Vegas, NV                    NaN
            Las Vegas, NV                    NaN
            Las Vegas, NV                    NaN
            Las Vegas, NV                    NaN

[5076 rows x 17 columns]

In [54]:
hierarchical_flights.loc[(["WN", "DL", "AA"], ['JFK','LGA']), ['DEP_TIME','DEP_DELAY']]

                                         DEP_TIME  DEP_DELAY
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
WN      LGA    ATL  N200WN   2019-02-27     556.0       -4.0
                             2019-05-31    1727.0       32.0
                             2019-07-21    1654.0       -1.0
                             2019-07-23    1735.0       40.0
                    N201LV   2019-07-13     617.0       17.0
...                                           ...        ...
AA      LGA    RDU  N967UW   2019-12-09    1738.0       28.0
                             2019-12-15    1952.0       -8.0
                             2019-12-18    1820.0       10.0
                             2019-12-19     956.0       -3.0
                             2019-12-24    1159.0       -6.0

[113095 rows x 2 columns]

In [55]:
hierarchical_flights.loc[pd.IndexSlice[:, ['JFK','LGA']], ['DEP_TIME','DEP_DELAY']]

                                         DEP_TIME  DEP_DELAY
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      JFK    BNA  N131EV   2019-03-28    1526.0       -4.0
                             2019-07-26     804.0       -1.0
                    N132EV   2019-01-06    1501.0       -8.0
                             2019-02-13    1455.0      -14.0
                             2019-02-24    1559.0       50.0
...                                           ...        ...
YX      LGA    XNA  N447YX   2019-11-22    1951.0       21.0
                             2019-12-04    1926.0       -4.0
                    N806MD   2019-08-29    1918.0      -11.0
                             2019-08-30    1332.0       -8.0
                    N826MD   2019-07-18     540.0      611.0

[298810 rows x 2 columns]

In [66]:
hierarchical_flights.loc[pd.IndexSlice[:, ['JFK','LGA'],'2019-01-01':'2020-05-15'], ['DEP_TIME','DEP_DELAY','ARR_TIME','ARR_DELAY']]

UnsortedIndexError: 'MultiIndex slicing requires the index to be lexsorted: slicing on levels [3], lexsort depth 3'

In [6]:
hierarchical_flights2 = flights.set_index(['ORIGIN_CITY', 'DEST_CITY'])

hierarchical_flights2 = hierarchical_flights2.sort_index(level=['ORIGIN_CITY', 'DEST_CITY'])

hierarchical_flights2[5:7]

                                FL_DATE TAIL_NUM CARRIER ORIGIN DEST  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN 2019-01-03   N935SW      OO    ABR  MSP
             Minneapolis, MN 2019-01-04   N461SW      OO    ABR  MSP

                              DEP_TIME  DEP_DELAY  ARR_TIME  ARR_DELAY  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN     506.0        6.0     621.0        1.0
             Minneapolis, MN    1308.0      -10.0    1414.0      -23.0

                              CANCELLED CANCELLATION_CODE  DIVERTED  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN        0.0               NaN       0.0
             Minneapolis, MN        0.0               NaN       0.0

                              CARRIER_DELAY  WEATHER_DELAY  NAS_DELAY  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN            NaN            NaN        NaN
             Minneapolis, MN            NaN            NaN        NaN

                              SECURITY_DELAY  LATE_AIRCRAFT_DELAY
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN             NaN                  NaN
             Minneapolis, MN             NaN                  NaN

In [7]:
flights['ORIGIN_CITY'].unique()

array(['Asheville, NC', 'New York, NY', 'Cleveland, OH', 'Birmingham, AL',
       'Great Falls, MT', 'Green Bay, WI', 'Augusta, GA', 'Charlotte, NC',
       'Memphis, TN', 'Minneapolis, MN', 'Atlanta, GA', 'Cincinnati, OH',
       'Raleigh/Durham, NC', 'Greensboro/High Point, NC',
       'Bismarck/Mandan, ND', 'Pittsburgh, PA', 'Traverse City, MI',
       'Orlando, FL', 'Washington, DC', 'Detroit, MI', 'Indianapolis, IN',
       'Boston, MA', 'Key West, FL', 'Newark, NJ', 'Appleton, WI',
       'Omaha, NE', 'San Antonio, TX', 'Scranton/Wilkes-Barre, PA',
       'Knoxville, TN', 'Austin, TX', 'Sioux Falls, SD', 'Columbia, SC',
       'Gainesville, FL', 'Tampa, FL', 'Greer, SC', 'Tallahassee, FL',
       'Syracuse, NY', 'Evansville, IN', 'Burlington, VT', 'Savannah, GA',
       'Baton Rouge, LA', 'Rochester, NY', 'Bangor, ME', 'Huntsville, AL',
       'Myrtle Beach, SC', 'Springfield, MO', 'Fort Wayne, IN',
       'Stockton, CA', 'Niagara Falls, NY', 'Punta Gorda, FL',
       'Missoula, MT', 'Des Moines, IA', 'St. Petersburg, FL',
       'Medford, OR', 'Phoenix, AZ', 'Sanford, FL', 'Fargo, ND',
       'Fort Lauderdale, FL', 'Grand Rapids, MI', 'Jacksonville, FL',
       'Lexington, KY', 'Valparaiso, FL', 'Bloomington/Normal, IL',
       'Las Vegas, NV', 'Toledo, OH', 'Allentown/Bethlehem/Easton, PA',
       'Albany, NY', 'San Diego, CA', 'Bellingham, WA', 'Flint, MI',
       'Plattsburgh, NY', 'Pasco/Kennewick/Richland, WA',
       'Louisville, KY', 'Billings, MT', 'Provo, UT', 'Fayetteville, AR',
       'Rockford, IL', 'Houston, TX', 'Kansas City, MO',
       'Dallas/Fort Worth, TX', 'West Palm Beach/Palm Beach, FL',
       'Columbus, OH', 'Charlotte Amalie, VI', 'Philadelphia, PA',
       'Los Angeles, CA', 'Fort Myers, FL', 'Chicago, IL',
       'Atlantic City, NJ', 'San Juan, PR', 'Portland, OR', 'Akron, OH',
       'Seattle, WA', 'Baltimore, MD', 'Oakland, CA', 'Aguadilla, PR',
       'Newport News/Williamsburg, VA', 'Richmond, VA', 'Wilmington, NC',
       'Jacksonville/Camp Lejeune, NC', 'Norfolk, VA', 'Buffalo, NY',
       'Shreveport, LA', 'Lincoln, NE', 'Charleston, SC', 'Kona, HI',
       'Lihue, HI', 'Kahului, HI', 'Honolulu, HI', 'Reno, NV',
       'San Francisco, CA', 'Denver, CO', 'Portland, ME', 'San Jose, CA',
       'Manchester, NH', 'New Orleans, LA', 'Miami, FL', 'Tucson, AZ',
       'Sarasota/Bradenton, FL', 'Spokane, WA', 'Nashville, TN',
       'Sacramento, CA', 'El Paso, TX', 'Santa Ana, CA', 'St. Louis, MO',
       'Albuquerque, NM', 'Tulsa, OK', 'Wichita, KS', 'Monroe, LA',
       'Chattanooga, TN', 'Columbia, MO', 'Dayton, OH', 'Fort Smith, AR',
       'Lake Charles, LA', 'Madison, WI', 'Grand Island, NE',
       'Salt Lake City, UT', 'Providence, RI', 'Hartford, CT',
       'Palm Springs, CA', 'Ontario, CA', 'Abilene, TX', 'Montgomery, AL',
       'Pensacola, FL', 'Moline, IL', 'Charlottesville, VA',
       'Beaumont/Port Arthur, TX', 'College Station/Bryan, TX',
       'Garden City, KS', 'Midland/Odessa, TX', 'Alexandria, LA',
       'Grand Junction, CO', 'Killeen, TX', 'Marquette, MI',
       'Wichita Falls, TX', 'Waterloo, IA', 'Harrisburg, PA',
       'Lubbock, TX', 'Champaign/Urbana, IL',
       'Cedar Rapids/Iowa City, IA', 'Manhattan/Ft. Riley, KS',
       'Dubuque, IA', 'Tyler, TX', 'Oklahoma City, OK',
       'Charleston/Dunbar, WV', 'Jackson/Vicksburg, MS',
       'New Bern/Morehead/Beaufort, NC', 'White Plains, NY',
       'Milwaukee, WI', 'Santa Barbara, CA',
       'Mission/McAllen/Edinburg, TX', 'Peoria, IL',
       'Gulfport/Biloxi, MS', 'Flagstaff, AZ', 'Montrose/Delta, CO',
       'San Luis Obispo, CA', 'Rapid City, SD', 'Amarillo, TX',
       'Mobile, AL', 'Monterey, CA', 'Durango, CO', 'Burbank, CA',
       'Bakersfield, CA', 'Colorado Springs, CO', 'Lafayette, LA',
       'Fresno, CA', 'Long Beach, CA', 'Hilo, HI', 'Panama City, FL',
       'Fairbanks, AK', 'Melbourne, FL', 'Anchorage, AK',
       'Daytona Beach, FL', 'Jackson, WY', 'Boise, ID', 'Bozeman, MT',
       'Dallas, TX', 'Little Rock, AR', 'Fayetteville, NC', 'Roanoke, VA',
       'Eagle, CO', 'Hayden, CO', 'Kalispell, MT', 'Corpus Christi, TX',
       'Santa Rosa, CA', 'Rochester, MN', 'South Bend, IN',
       'Santa Fe, NM', 'Harlingen/San Benito, TX', 'Hobbs, NM',
       'Mosinee, WI', 'Bristol/Johnson City/Kingsport, TN',
       'Columbus, MS', 'Elmira/Corning, NY', 'Columbus, GA',
       'Lansing, MI', 'Minot, ND', 'Waco, TX', 'Del Rio, TX',
       'Kalamazoo, MI', 'Stillwater, OK', 'Lawton/Fort Sill, OK',
       'Belleville, IL', 'Concord, NC', 'Idaho Falls, ID',
       'Grand Forks, ND', 'Watertown, NY', 'New Haven, CT',
       'Christiansted, VI', 'Newburgh/Poughkeepsie, NY', 'Ponce, PR',
       'Worcester, MA', 'Laredo, TX', 'Brownsville, TX', 'Trenton, NJ',
       'Portsmouth, NH', 'Islip, NY', 'Hilton Head, SC', 'Latrobe, PA',
       'Aspen, CO', 'Bend/Redmond, OR', 'Yuma, AZ', 'Roswell, NM',
       'Eugene, OR', 'Joplin, MO', 'St. George, UT', 'Cheyenne, WY',
       'Meridian, MS', 'Hattiesburg/Laurel, MS', 'Valdosta, GA',
       'Saginaw/Bay City/Midland, MI', 'Sun Valley/Hailey/Ketchum, ID',
       'Duluth, MN', 'Erie, PA', 'Dothan, AL', 'Albany, GA',
       'Brunswick, GA', 'La Crosse, WI', 'Escanaba, MI', 'Casper, WY',
       'State College, PA', 'Helena, MT', 'Williston, ND',
       'Hancock/Houghton, MI', 'Eau Claire, WI', 'Lewisburg, WV',
       'Staunton, VA', 'Muskegon, MI', 'Hays, KS', 'Salina, KS',
       'Kearney, NE', 'Quincy, IL', 'Clarksburg/Fairmont, WV',
       'Rock Springs, WY', 'Pueblo, CO', 'Paducah, KY',
       'Cape Girardeau, MO', 'Vernal, UT', 'Moab, UT', 'Liberal, KS',
       'Scottsbluff, NE', 'Springfield, IL', 'Devils Lake, ND',
       'Jamestown, ND', 'Laramie, WY', 'Prescott, AZ', 'Gillette, WY',
       'North Platte, NE', 'Arcata/Eureka, CA', 'Redding, CA',
       'North Bend/Coos Bay, OR', 'Mammoth Lakes, CA', 'Cody, WY',
       'Lewiston, ID', 'Pocatello, ID', 'Aberdeen, SD', 'Alpena, MI',
       'Pellston, MI', 'Bemidji, MN', 'Brainerd, MN', 'Butte, MT',
       'Cedar City, UT', 'Sault Ste. Marie, MI', 'Elko, NV',
       'Iron Mountain/Kingsfd, MI', 'Twin Falls, ID', 'Hibbing, MN',
       'Rhinelander, WI', 'Binghamton, NY', 'Ithaca/Cortland, NY',
       'International Falls, MN', 'San Angelo, TX', 'Longview, TX',
       'Sioux City, IA', 'Texarkana, AR', 'Kodiak, AK', 'Bethel, AK',
       'Barrow, AK', 'Deadhorse, AK', 'Ketchikan, AK', 'Juneau, AK',
       'Sitka, AK', 'Wrangell, AK', 'Petersburg, AK', 'Nome, AK',
       'Kotzebue, AK', 'Ashland, WV', 'Gunnison, CO', 'Guam, TT',
       'Saipan, TT', 'Hagerstown, MD', 'Owensboro, KY', 'Yakutat, AK',
       'Cordova, AK', 'Adak Island, AK', 'St. Cloud, MN',
       'Santa Maria, CA', 'Ogdensburg, NY', 'Pago Pago, TT', 'Ogden, UT',
       'Lynchburg, VA', 'Everett, WA', 'Pierre, SD', 'Watertown, SD',
       'Branson, MO', 'Nantucket, MA', 'West Yellowstone, MT',
       "Martha's Vineyard, MA", 'Gustavus, AK', 'King Salmon, AK',
       'Dillingham, AK', 'Hyannis, MA', 'Greenville, NC'], dtype=object)

Χάρη στο ιεραρχικό ευρετήριο μπορούμε να κάνουμε εύκολα και πιο περίπλοκα ερωτήματα.

θα επιλέξουμε τις πτήσεις που έγιναν από Southwest Airlines (WN), Delta (DL), και American Airlines (AA) με αναχώρηση από New York JFK (JFK) ή New York La Guardia (LGA).

In [17]:
hierarchical_flights2.loc[["Yuma, AZ"], ["Boston, MA"]]

# hierarchical_flights2.loc[('Yuma, AZ'),('Boston, MA')]

KeyError: "None of [Index(['Boston, MA'], dtype='object')] are in the [columns]"

In [18]:
result_filtered = hierarchical_flights2[(hierarchical_flights2.index.get_level_values('ORIGIN_CITY') == 'Yuma, AZ') & 
                                        ((hierarchical_flights2.index.get_level_values('DEST_CITY') == 'Phoenix, AZ') |
                                         (hierarchical_flights2.index.get_level_values('DEST_CITY') == 'Minneapolis, MN'))]


result_filtered.shape

(1588, 17)

Ας πούμε ότι μας ενδιαφέρει το υποσύνολο των παραπάνω με άφιξη στο San Francisco (SFO):

In [ ]:
#TODO

Και αν θέλουμε να βρούμε όλες τις πτήσεις μεταξύ αυτών των αεροδρομίων, ανεξαρτήτως εταιρείας;

Αυτό μπορούμε να το κάνουμε εύκολα χρησιμοποιώντας ένα IndexSlice.

In [ ]:
#TODO

# to do : PANDAS : APPLY , GROUPBY, MERGE, RANK, DROP_DUPLICATES, ISIN

In [ ]:
import pandas as pd

# Δημιουργία ενός DataFrame
data = {'Όνομα': ['Αλέξης', 'Μαρία', 'Γιώργος'],
        'Ηλικία': [28, 22, 35],
        'Βαθμολογία': [90, 85, 88]}

df = pd.DataFrame(data)
df

In [ ]:
data = {'Όνομα': ['Αλέξης', 'Μαρία', 'Γιώργος'],
        'Ηλικία': [28, 22, 35],
        'Βαθμολογία': [90, 85, 88]}

df = pd.DataFrame(data)

# Ορισμός μιας συνάρτησης που προσθέτει 5 σε κάθε βαθμολογία
def add_five(x):
    return x + 5

# Εφαρμογή της συνάρτησης στη στήλη 'Βαθμολογία'
df['Βαθμολογία'] = df['Βαθμολογία'].apply(add_five)

print(df)

In [ ]:
selected_columns = ['Βαθμολογία', 'Ηλικία']

# Ορισμός μιας συνάρτησης που υπολογίζει το άθροισμα των επιλεγμένων στηλών
sum_selected_columns = lambda row: row[selected_columns].sum()

# Εφαρμογή της συνάρτησης σε κάθε γραμμή του DataFrame
df['sum_of_rows'] = df.apply(sum_selected_columns, axis=1)
df

# merge

In [ ]:
data = {'Στήλη1': [1, 2, 3],
        'Στήλη2': [4, 5, 6],
        'Στήλη3': [7, 8, 9]}

df = pd.DataFrame(data)

# Δημιουργία ενός άλλου DataFrame με τις επιλεγμένες στήλες
selected_columns = ['Στήλη1', 'Στήλη3']
df_selected = df[selected_columns]

# Συνάντηση (merge) των δύο DataFrames βάσει του index
result = pd.merge(df, df_selected, left_index=True, right_index=True)

print(result)

In [68]:
students_data = {'Όνομα': ['Αλέξης', 'Μαρία', 'Γιώργος'],
                 'Ηλικία': [18, 17, 19],
                 'Μαθητής_ID': [1, 2, 3]}

grades_data = {'Μαθητής_ID': [1, 2, 3],
               'Μαθήματα': ['Μαθηματικά', 'Φυσική', 'Χημεία'],
               'Βαθμοί': [95, 88, 92]}

df_grades = pd.DataFrame(grades_data)
df_students = pd.DataFrame(students_data)

# Επιλογή των στηλών που θέλουμε να συνδυάσουμε
selected_columns = ['Μαθητής_ID', 'Βαθμοί']

# Συνάντηση (merge) των DataFrames βάσει του 'Μαθητής_ID'
merged_df = pd.merge(df_students, df_grades[selected_columns], on='Μαθητής_ID', how='inner')
merged_df

     Όνομα  Ηλικία  Μαθητής_ID  Βαθμοί
0   Αλέξης      18           1      95
1    Μαρία      17           2      88
2  Γιώργος      19           3      92

In [67]:
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

newdf = df1.merge(df2, )
newdf

Empty DataFrame
Columns: [name, age]
Index: []

In [81]:
customers_data = {'id': [1, 2, 3, 4],
                  'name': ['Joe', 'Henry', 'Sam', 'Max']}

orders_data = {'id': [1, 2],
               'customerId': [3, 1]}

customers_data = pd.DataFrame(customers_data)
orders_data = pd.DataFrame(orders_data)


def customers_who_never_ordered(data: pd.DataFrame):

   id  customerId
0   1           3
1   2           1