In [1]:
import pandas as pd

flights = pd.read_csv('C:/Users/xrist/OneDrive/Υπολογιστής/data/Data-Science-Tutorials/data/flights.csv', dtype={'DEP_DELAY': float}, parse_dates=['FL_DATE'])
print(flights.shape)
flights.sample(5)

(7422037, 20)

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 19
5649358,2019-10-05,N24736,UA,ORD,"Chicago, IL",EWR,"Newark, NJ",555.0,-5.0,847.0,-22.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2853797,2019-05-24,N475HA,HA,HNL,"Honolulu, HI",KOA,"Kona, HI",1316.0,6.0,1410.0,8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4942709,2019-08-31,N318JB,B6,DCA,"Washington, DC",FLL,"Fort Lauderdale, FL",549.0,-13.0,803.0,-30.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6936614,2019-12-07,N831NN,AA,ORD,"Chicago, IL",EWR,"Newark, NJ",849.0,-2.0,1138.0,-19.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4592979,2019-08-14,N77535,UA,LAS,"Las Vegas, NV",SFO,"San Francisco, CA",707.0,-13.0,907.0,-4.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
flights["DEP_TIME"].nlargest(5)

5921     2400.0
23639    2400.0
24186    2400.0
25064    2400.0
25217    2400.0
Name: DEP_TIME, dtype: float64

In [21]:
flights.drop('Unnamed: 19', axis=1, inplace=True)
flights.sample(5)

KeyError: "['Unnamed: 19'] not found in axis"

In [4]:
hierarchical_flights = flights.set_index(['CARRIER', 'ORIGIN', 
                                          'DEST', 'TAIL_NUM', 
                                          'FL_DATE'])

hierarchical_flights = hierarchical_flights.sort_index(level=['CARRIER', 'ORIGIN', 
                                                              'DEST', 'TAIL_NUM', 
                                                              'FL_DATE'])

hierarchical_flights[40:90]

                                                       ORIGIN_CITY_NAME  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11  Allentown/Bethlehem/Easton, PA
                             2019-10-21  Allentown/Bethlehem/Easton, PA
                    N147PQ   2019-05-31  Allentown/Bethlehem/Easton, PA
                             2019-06-16  Allentown/Bethlehem/Easton, PA
                             2019-08-08  Allentown/Bethlehem/Easton, PA
                             2019-08-09  Allentown/Bethlehem/Easton, PA
                             2019-12-18  Allentown/Bethlehem/Easton, PA
                    N153PQ   2019-01-27  Allentown/Bethlehem/Easton, PA
                             2019-03-30  Allentown/Bethlehem/Easton, PA
                             2019-12-05  Allentown/Bethlehem/Easton, PA
                    N166PQ   2019-08-15  Allentown/Bethlehem/Easton, PA
                             2019-08-26  Allentown/Bethlehem/Easton, PA
                             2019-09-11  Allentown/Bethlehem/Easton, PA
                             2019-10-18  Allentown/Bethlehem/Easton, PA
                    N176PQ   2019-04-05  Allentown/Bethlehem/Easton, PA
                             2019-10-24  Allentown/Bethlehem/Easton, PA
                             2019-11-06  Allentown/Bethlehem/Easton, PA
                             2019-11-15  Allentown/Bethlehem/Easton, PA
                    N181PQ   2019-03-06  Allentown/Bethlehem/Easton, PA
                             2019-05-19  Allentown/Bethlehem/Easton, PA
                             2019-06-10  Allentown/Bethlehem/Easton, PA
                             2019-10-17  Allentown/Bethlehem/Easton, PA
                             2019-10-18  Allentown/Bethlehem/Easton, PA
                             2019-12-11  Allentown/Bethlehem/Easton, PA
                    N186PQ   2019-01-25  Allentown/Bethlehem/Easton, PA
                             2019-01-30  Allentown/Bethlehem/Easton, PA
                             2019-02-05  Allentown/Bethlehem/Easton, PA
                             2019-02-07  Allentown/Bethlehem/Easton, PA
                             2019-08-28  Allentown/Bethlehem/Easton, PA
                             2019-10-08  Allentown/Bethlehem/Easton, PA
                    N195PQ   2019-01-04  Allentown/Bethlehem/Easton, PA
                             2019-09-02  Allentown/Bethlehem/Easton, PA
                             2019-12-20  Allentown/Bethlehem/Easton, PA
                    N197PQ   2019-04-22  Allentown/Bethlehem/Easton, PA
                             2019-05-12  Allentown/Bethlehem/Easton, PA
                             2019-05-12  Allentown/Bethlehem/Easton, PA
                             2019-05-26  Allentown/Bethlehem/Easton, PA
                             2019-06-17  Allentown/Bethlehem/Easton, PA
                             2019-10-17  Allentown/Bethlehem/Easton, PA
                             2019-11-08  Allentown/Bethlehem/Easton, PA
                    N200PQ   2019-03-12  Allentown/Bethlehem/Easton, PA
                             2019-06-01  Allentown/Bethlehem/Easton, PA
                             2019-08-05  Allentown/Bethlehem/Easton, PA
                             2019-11-15  Allentown/Bethlehem/Easton, PA
                    N228PQ   2019-02-21  Allentown/Bethlehem/Easton, PA
                             2019-03-05  Allentown/Bethlehem/Easton, PA
                             2019-04-29  Allentown/Bethlehem/Easton, PA
                             2019-05-01  Allentown/Bethlehem/Easton, PA
                             2019-05-03  Allentown/Bethlehem/Easton, PA
                             2019-12-19  Allentown/Bethlehem/Easton, PA

                                        DEST_CITY_NAME  DEP_TIME  DEP_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11    Atlanta, GA    1301.0       -5.0
                             2019-10-21    Atlanta, GA    1438.0       95.0
                    N147PQ   2019-05-31    Atlanta, GA     605.0       -5.0
                             2019-06-16    Atlanta, GA    1301.0       -4.0
                             2019-08-08    Atlanta, GA    1302.0       -3.0
                             2019-08-09    Atlanta, GA    1342.0       37.0
                             2019-12-18    Atlanta, GA    1817.0       25.0
                    N153PQ   2019-01-27    Atlanta, GA    1747.0       -6.0
                             2019-03-30    Atlanta, GA    1345.0      -10.0
                             2019-12-05    Atlanta, GA    1300.0       -4.0
                    N166PQ   2019-08-15    Atlanta, GA    1254.0      -11.0
                             2019-08-26    Atlanta, GA    1257.0       -8.0
                             2019-09-11    Atlanta, GA    1751.0       -5.0
                             2019-10-18    Atlanta, GA    1821.0       26.0
                    N176PQ   2019-04-05    Atlanta, GA    1753.0       -5.0
                             2019-10-24    Atlanta, GA    1751.0       -4.0
                             2019-11-06    Atlanta, GA    1257.0       -8.0
                             2019-11-15    Atlanta, GA    1759.0        4.0
                    N181PQ   2019-03-06    Atlanta, GA    1757.0        2.0
                             2019-05-19    Atlanta, GA    1754.0       -4.0
                             2019-06-10    Atlanta, GA       NaN        NaN
                             2019-10-17    Atlanta, GA    1254.0       -9.0
                             2019-10-18    Atlanta, GA    1257.0       -6.0
                             2019-12-11    Atlanta, GA    1750.0       -2.0
                    N186PQ   2019-01-25    Atlanta, GA    1330.0       20.0
                             2019-01-30    Atlanta, GA    1802.0        9.0
                             2019-02-05    Atlanta, GA    1751.0       -2.0
                             2019-02-07    Atlanta, GA    1805.0       12.0
                             2019-08-28    Atlanta, GA    1259.0       -6.0
                             2019-10-08    Atlanta, GA    1749.0       -6.0
                    N195PQ   2019-01-04    Atlanta, GA     555.0       -5.0
                             2019-09-02    Atlanta, GA    1310.0       -5.0
                             2019-12-20    Atlanta, GA    1754.0        2.0
                    N197PQ   2019-04-22    Atlanta, GA    1801.0        3.0
                             2019-05-12    Atlanta, GA     640.0        0.0
                             2019-05-12    Atlanta, GA    1354.0       -6.0
                             2019-05-26    Atlanta, GA     634.0       -6.0
                             2019-06-17    Atlanta, GA    1316.0       11.0
                             2019-10-17    Atlanta, GA    1755.0        0.0
                             2019-11-08    Atlanta, GA    1752.0       -3.0
                    N200PQ   2019-03-12    Atlanta, GA    1258.0       -5.0
                             2019-06-01    Atlanta, GA     635.0       -5.0
                             2019-08-05    Atlanta, GA    1743.0      -12.0
                             2019-11-15    Atlanta, GA    1302.0       -3.0
                    N228PQ   2019-02-21    Atlanta, GA    1350.0       40.0
                             2019-03-05    Atlanta, GA    1251.0      -12.0
                             2019-04-29    Atlanta, GA    1743.0      -15.0
                             2019-05-01    Atlanta, GA    1956.0      118.0
                             2019-05-03    Atlanta, GA    1258.0       -5.0
                             2019-12-19    Atlanta, GA    1302.0       -2.0

                                         ARR_TIME  ARR_DELAY  CANCELLED  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11    1501.0      -20.0        0.0
                             2019-10-21    1652.0       95.0        0.0
                    N147PQ   2019-05-31     804.0      -15.0        0.0
                             2019-06-16    1453.0      -21.0        0.0
                             2019-08-08    1456.0      -18.0        0.0
                             2019-08-09    1542.0       28.0        0.0
                             2019-12-18    2034.0       15.0        0.0
                    N153PQ   2019-01-27    2008.0       -6.0        0.0
                             2019-03-30    1539.0      -28.0        0.0
                             2019-12-05    1456.0      -32.0        0.0
                    N166PQ   2019-08-15    1500.0      -14.0        0.0
                             2019-08-26    1501.0      -13.0        0.0
                             2019-09-11    1948.0      -19.0        0.0
                             2019-10-18    2030.0       25.0        0.0
                    N176PQ   2019-04-05    1951.0      -23.0        0.0
                             2019-10-24    2004.0       -1.0        0.0
                             2019-11-06    1505.0      -25.0        0.0
                             2019-11-15    1959.0      -15.0        0.0
                    N181PQ   2019-03-06    2018.0       13.0        0.0
                             2019-05-19    1944.0      -30.0        0.0
                             2019-06-10       NaN        NaN        1.0
                             2019-10-17    1454.0      -23.0        0.0
                             2019-10-18    1453.0      -24.0        0.0
                             2019-12-11    2000.0      -19.0        0.0
                    N186PQ   2019-01-25    1558.0       34.0        0.0
                             2019-01-30    2127.0       73.0        0.0
                             2019-02-05    1951.0      -23.0        0.0
                             2019-02-07    2010.0       -4.0        0.0
                             2019-08-28    1459.0      -15.0        0.0
                             2019-10-08    1950.0      -15.0        0.0
                    N195PQ   2019-01-04     813.0      -18.0        0.0
                             2019-09-02    1503.0      -26.0        0.0
                             2019-12-20    2022.0        3.0        0.0
                    N197PQ   2019-04-22    1954.0      -20.0        0.0
                             2019-05-12     858.0        8.0        0.0
                             2019-05-12    1601.0      -12.0        0.0
                             2019-05-26     823.0      -27.0        0.0
                             2019-06-17    1512.0       -2.0        0.0
                             2019-10-17    1951.0      -14.0        0.0
                             2019-11-08    2010.0       -4.0        0.0
                    N200PQ   2019-03-12    1512.0       -1.0        0.0
                             2019-06-01     844.0       -4.0        0.0
                             2019-08-05    2008.0        2.0        0.0
                             2019-11-15    1452.0      -38.0        0.0
                    N228PQ   2019-02-21    1602.0       38.0        0.0
                             2019-03-05    1508.0       -5.0        0.0
                             2019-04-29    1936.0      -38.0        0.0
                             2019-05-01    2201.0      107.0        0.0
                             2019-05-03    1455.0      -19.0        0.0
                             2019-12-19    1505.0      -23.0        0.0

                                        CANCELLATION_CODE  DIVERTED  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11               NaN       0.0
                             2019-10-21               NaN       0.0
                    N147PQ   2019-05-31               NaN       0.0
                             2019-06-16               NaN       0.0
                             2019-08-08               NaN       0.0
                             2019-08-09               NaN       0.0
                             2019-12-18               NaN       0.0
                    N153PQ   2019-01-27               NaN       0.0
                             2019-03-30               NaN       0.0
                             2019-12-05               NaN       0.0
                    N166PQ   2019-08-15               NaN       0.0
                             2019-08-26               NaN       0.0
                             2019-09-11               NaN       0.0
                             2019-10-18               NaN       0.0
                    N176PQ   2019-04-05               NaN       0.0
                             2019-10-24               NaN       0.0
                             2019-11-06               NaN       0.0
                             2019-11-15               NaN       0.0
                    N181PQ   2019-03-06               NaN       0.0
                             2019-05-19               NaN       0.0
                             2019-06-10                 B       0.0
                             2019-10-17               NaN       0.0
                             2019-10-18               NaN       0.0
                             2019-12-11               NaN       0.0
                    N186PQ   2019-01-25               NaN       0.0
                             2019-01-30               NaN       0.0
                             2019-02-05               NaN       0.0
                             2019-02-07               NaN       0.0
                             2019-08-28               NaN       0.0
                             2019-10-08               NaN       0.0
                    N195PQ   2019-01-04               NaN       0.0
                             2019-09-02               NaN       0.0
                             2019-12-20               NaN       0.0
                    N197PQ   2019-04-22               NaN       0.0
                             2019-05-12               NaN       0.0
                             2019-05-12               NaN       0.0
                             2019-05-26               NaN       0.0
                             2019-06-17               NaN       0.0
                             2019-10-17               NaN       0.0
                             2019-11-08               NaN       0.0
                    N200PQ   2019-03-12               NaN       0.0
                             2019-06-01               NaN       0.0
                             2019-08-05               NaN       0.0
                             2019-11-15               NaN       0.0
                    N228PQ   2019-02-21               NaN       0.0
                             2019-03-05               NaN       0.0
                             2019-04-29               NaN       0.0
                             2019-05-01               NaN       0.0
                             2019-05-03               NaN       0.0
                             2019-12-19               NaN       0.0

                                         CARRIER_DELAY  WEATHER_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11            NaN            NaN
                             2019-10-21            0.0            0.0
                    N147PQ   2019-05-31            NaN            NaN
                             2019-06-16            NaN            NaN
                             2019-08-08            NaN            NaN
                             2019-08-09            7.0            0.0
                             2019-12-18            0.0           15.0
                    N153PQ   2019-01-27            NaN            NaN
                             2019-03-30            NaN            NaN
                             2019-12-05            NaN            NaN
                    N166PQ   2019-08-15            NaN            NaN
                             2019-08-26            NaN            NaN
                             2019-09-11            NaN            NaN
                             2019-10-18            0.0            0.0
                    N176PQ   2019-04-05            NaN            NaN
                             2019-10-24            NaN            NaN
                             2019-11-06            NaN            NaN
                             2019-11-15            NaN            NaN
                    N181PQ   2019-03-06            NaN            NaN
                             2019-05-19            NaN            NaN
                             2019-06-10            NaN            NaN
                             2019-10-17            NaN            NaN
                             2019-10-18            NaN            NaN
                             2019-12-11            NaN            NaN
                    N186PQ   2019-01-25           20.0            0.0
                             2019-01-30            0.0            9.0
                             2019-02-05            NaN            NaN
                             2019-02-07            NaN            NaN
                             2019-08-28            NaN            NaN
                             2019-10-08            NaN            NaN
                    N195PQ   2019-01-04            NaN            NaN
                             2019-09-02            NaN            NaN
                             2019-12-20            NaN            NaN
                    N197PQ   2019-04-22            NaN            NaN
                             2019-05-12            NaN            NaN
                             2019-05-12            NaN            NaN
                             2019-05-26            NaN            NaN
                             2019-06-17            NaN            NaN
                             2019-10-17            NaN            NaN
                             2019-11-08            NaN            NaN
                    N200PQ   2019-03-12            NaN            NaN
                             2019-06-01            NaN            NaN
                             2019-08-05            NaN            NaN
                             2019-11-15            NaN            NaN
                    N228PQ   2019-02-21            0.0            0.0
                             2019-03-05            NaN            NaN
                             2019-04-29            NaN            NaN
                             2019-05-01            0.0            0.0
                             2019-05-03            NaN            NaN
                             2019-12-19            NaN            NaN

                                         NAS_DELAY  SECURITY_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N146PQ   2019-04-11        NaN             NaN
                             2019-10-21        0.0             0.0
                    N147PQ   2019-05-31        NaN             NaN
                             2019-06-16        NaN             NaN
                             2019-08-08        NaN             NaN
                             2019-08-09        0.0             0.0
                             2019-12-18        0.0             0.0
                    N153PQ   2019-01-27        NaN             NaN
                             2019-03-30        NaN             NaN
                             2019-12-05        NaN             NaN
                    N166PQ   2019-08-15        NaN             NaN
                             2019-08-26        NaN             NaN
                             2019-09-11        NaN             NaN
                             2019-10-18        0.0             0.0
                    N176PQ   2019-04-05        NaN             NaN
                             2019-10-24        NaN             NaN
                             2019-11-06        NaN             NaN
                             2019-11-15        NaN             NaN
                    N181PQ   2019-03-06        NaN             NaN
                             2019-05-19        NaN             NaN
                             2019-06-10        NaN             NaN

In [5]:
flights=flights.rename(columns={'ORIGIN_CITY_NAME':'ORIGIN_CITY','DEST_CITY_NAME':'DEST_CITY'})
flights

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2019-01-01,N8974C,9E,AVL,"Asheville, NC",ATL,"Atlanta, GA",1658.0,-7.0,1758.0,-22.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,N922XJ,9E,JFK,"New York, NY",RDU,"Raleigh/Durham, NC",1122.0,-8.0,1255.0,-29.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,N326PQ,9E,CLE,"Cleveland, OH",DTW,"Detroit, MI",1334.0,-7.0,1417.0,-31.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,N135EV,9E,BHM,"Birmingham, AL",ATL,"Atlanta, GA",1059.0,-1.0,1255.0,-8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,N914XJ,9E,GTF,"Great Falls, MT",MSP,"Minneapolis, MN",1057.0,-3.0,1418.0,-17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422032,2019-12-31,N759EV,OO,ORD,"Chicago, IL",ROC,"Rochester, NY",1138.0,1004.0,1416.0,985.0,0.0,NaN,0.0,985.0,0.0,0.0,0.0,0.0
7422033,2019-12-31,N761ND,OO,ORD,"Chicago, IL",FWA,"Fort Wayne, IN",2139.0,189.0,2331.0,165.0,0.0,NaN,0.0,148.0,0.0,0.0,0.0,17.0
7422034,2019-12-31,N192SY,OO,DAL,"Dallas, TX",PDX,"Portland, OR",754.0,-6.0,1013.0,-17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7422035,2019-12-31,N403SY,OO,PDX,"Portland, OR",DAL,"Dallas, TX",708.0,-2.0,1246.0,-13.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7422036,2019-12-31,N183SY,OO,TUS,"Tucson, AZ",SJC,"San Jose, CA",802.0,-13.0,859.0,-36.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [6]:
hierarchical_flights.index.get_level_values('CARRIER').value_counts()
# hierarchical_flights.index.get_level_values(0).value_counts()

CARRIER
WN    1363946
DL     991986
AA     946776
OO     836445
UA     625910
YX     329149
MQ     327007
B6     297411
OH     289304
AS     264816
9E     257132
YV     227888
NK     204845
F9     135543
EV     134683
G4     105305
HA      83891
Name: count, dtype: int64

In [7]:
hierarchical_flights.index.get_level_values('ORIGIN').value_counts()

ORIGIN
ATL    395009
ORD    339606
DFW    304344
DEN    252026
CLT    235496
        ...
HYA        83
DLG        82
GST        82
PGV        80
AKN        61
Name: count, Length: 360, dtype: int64

In [8]:
hierarchical_flights.index.get_level_values('DEST').value_counts()[:10]

DEST
ATL    395026
ORD    339569
DFW    304346
DEN    252064
CLT    235490
LAX    219996
IAH    179682
PHX    175343
LGA    171665
SFO    170966
Name: count, dtype: int64

In [9]:
delayed_flights = hierarchical_flights.loc[hierarchical_flights['DEP_DELAY'] > 0]
delayed_flights['DEP_DELAY']

CARRIER  ORIGIN  DEST  TAIL_NUM  FL_DATE
9E       ABE     ATL   N131EV    2019-02-22      9.0
                                 2019-04-19      2.0
                       N132EV    2019-04-09     43.0
                       N133EV    2019-04-25     10.0
                                 2019-12-23     49.0
                                               ...
YX       XNA     PHL   N138HQ    2019-09-06    107.0
                                 2019-12-13     36.0
                       N416YX    2019-09-28      3.0
                       N428YX    2019-10-16     22.0
                       N433YX    2019-12-01    116.0
Name: DEP_DELAY, Length: 2521492, dtype: float64

In [10]:
delayed_flights_by_origin = delayed_flights.groupby(level='ORIGIN')['DEP_DELAY']\
    .agg(['median', 'mean', 'count'])\
    .sort_values(by='median', ascending=False)
delayed_flights_by_origin[:10]

        median        mean  count
ORIGIN
DVL       77.0  141.301587    126
SLN       59.0  110.613546    251
SHD       57.0  116.976608    171
HYS       51.0  117.920266    301
VEL       50.0   88.461538    130
UIN       48.0   90.852071    169
ATY       48.0  113.400000    105
OTH       47.0   89.480519    154
ACV       46.0   91.726210    599
CMX       46.0  112.664894    188

In [11]:
# TODO
# Καλό θα είναι να δούμε και το ποσοστό των πτήσεων που καθυστερούν.
# to_frame()#

air_traffic = hierarchical_flights.groupby('ORIGIN').size().to_frame(name='total_departures')
air_traffic.sort_values(by='total_departures',ascending=False)[1:10]

        total_departures
ORIGIN
ORD               339606
DFW               304344
DEN               252026
CLT               235496
LAX               219952
IAH               179688
PHX               175328
LGA               171665
SFO               170918

# merge frames

In [12]:
delayed_flights_by_origin = pd.merge(air_traffic, delayed_flights_by_origin, left_index=True, right_index=True)
delayed_flights_by_origin

        total_departures  median       mean  count
ORIGIN
ABE                 5014    21.0  54.495347   1397
ABI                 2272    18.0  46.328424    679
ABQ                23731    12.0  34.567696   8420
ABR                  750    20.0  80.924324    185
ABY                 1005    17.5  56.511029    272
...                  ...     ...        ...    ...
WYS                  264    11.0  86.491525     59
XNA                14134    26.5  57.202274   3782
XWA                  207    19.0  75.881720     93
YAK                  722    15.0  32.479042    167
YUM                 1919    18.5  54.035912    362

[360 rows x 4 columns]

# perc % delay by origin (group, merge)

In [13]:
delayed_flights_by_origin['perc_of_delay']= \
    delayed_flights_by_origin['count']/delayed_flights_by_origin['total_departures']

delayed_flights_by_origin

        total_departures  median       mean  count  perc_of_delay
ORIGIN
ABE                 5014    21.0  54.495347   1397       0.278620
ABI                 2272    18.0  46.328424    679       0.298856
ABQ                23731    12.0  34.567696   8420       0.354810
ABR                  750    20.0  80.924324    185       0.246667
ABY                 1005    17.5  56.511029    272       0.270647
...                  ...     ...        ...    ...            ...
WYS                  264    11.0  86.491525     59       0.223485
XNA                14134    26.5  57.202274   3782       0.267582
XWA                  207    19.0  75.881720     93       0.449275
YAK                  722    15.0  32.479042    167       0.231302
YUM                 1919    18.5  54.035912    362       0.188640

[360 rows x 5 columns]

Με ένα ιεραρχικό ευρετήριο μπορούμε να φιλτράρουμε τα δεδομένα μας εύκολα, χωρίς να χρειάζεται να χρησιμοποιούμε λογικές συνθήκες σύγκρισης.

Αν θέλουμε να βρούμε τις πτήσεις που έγιναν από Southwest Airlines (WN), Delta (DL), και American Airlines (AA) αρκεί να δώσουμε:

In [14]:
x= flights['ORIGIN_CITY'].value_counts()
x

ORIGIN_CITY
Chicago, IL              423369
Atlanta, GA              395009
Dallas/Fort Worth, TX    304344
New York, NY             298810
Denver, CO               252026
                          ...
Hyannis, MA                  83
Gustavus, AK                 82
Dillingham, AK               82
Greenville, NC               80
King Salmon, AK              61
Name: count, Length: 352, dtype: int64

In [15]:
wn_data = flights.groupby('ORIGIN_CITY').size().to_frame('Total Departures')
wn_data

                 Total Departures
ORIGIN_CITY
Aberdeen, SD                  750
Abilene, TX                  2272
Adak Island, AK               104
Aguadilla, PR                2306
Akron, OH                    6318
...                           ...
Wilmington, NC               6878
Worcester, MA                1240
Wrangell, AK                  724
Yakutat, AK                   722
Yuma, AZ                     1919

[352 rows x 1 columns]

In [ ]:
wn_data.loc[["WN", "DL", AA"]]

In [16]:
wn_data.loc[["Aberdeen, SD","Abilene, TX","Yakutat, AK"]]

              Total Departures
ORIGIN_CITY
Aberdeen, SD               750
Abilene, TX               2272
Yakutat, AK                722

In [17]:
flights.columns

Index(['FL_DATE', 'TAIL_NUM', 'CARRIER', 'ORIGIN', 'ORIGIN_CITY', 'DEST',
       'DEST_CITY', 'DEP_TIME', 'DEP_DELAY', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'],
      dtype='object')

In [18]:
hierarchical_flights2 = flights.set_index(['ORIGIN_CITY', 'DEST_CITY'])

hierarchical_flights2 = hierarchical_flights2.sort_index(level=['ORIGIN_CITY', 'DEST_CITY'])

hierarchical_flights2

                                FL_DATE TAIL_NUM CARRIER ORIGIN DEST  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN 2019-01-01   N910EV      OO    ABR  MSP
             Minneapolis, MN 2019-01-01   N432SW      OO    ABR  MSP
             Minneapolis, MN 2019-01-02   N498CA      OO    ABR  MSP
             Minneapolis, MN 2019-01-02   N439SW      OO    ABR  MSP
             Minneapolis, MN 2019-01-03   N8965E      OO    ABR  MSP
...                                 ...      ...     ...    ...  ...
Yuma, AZ     Phoenix, AZ     2019-12-31   N945LR      YV    YUM  PHX
             Phoenix, AZ     2019-12-31   N914FJ      YV    YUM  PHX
             Phoenix, AZ     2019-12-31   N927LR      YV    YUM  PHX
             Phoenix, AZ     2019-12-31   N701SK      OO    YUM  PHX
             Phoenix, AZ     2019-12-31   N719SK      OO    YUM  PHX

                              DEP_TIME  DEP_DELAY  ARR_TIME  ARR_DELAY  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN    1411.0       53.0    1521.0       46.0
             Minneapolis, MN     642.0       -3.0     800.0       -6.0
             Minneapolis, MN    1310.0       -8.0    1424.0      -13.0
             Minneapolis, MN     502.0        2.0     622.0        2.0
             Minneapolis, MN    1307.0      -11.0    1411.0      -26.0
...                                ...        ...       ...        ...
Yuma, AZ     Phoenix, AZ         932.0      -14.0    1032.0      -14.0
             Phoenix, AZ        2204.0       42.0    2251.0       37.0
             Phoenix, AZ        1323.0       -3.0    1407.0      -13.0
             Phoenix, AZ         718.0       -8.0     808.0      -13.0
             Phoenix, AZ        1722.0       -9.0    1810.0      -20.0

                              CANCELLED CANCELLATION_CODE  DIVERTED  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN        0.0               NaN       0.0
             Minneapolis, MN        0.0               NaN       0.0
             Minneapolis, MN        0.0               NaN       0.0
             Minneapolis, MN        0.0               NaN       0.0
             Minneapolis, MN        0.0               NaN       0.0
...                                 ...               ...       ...
Yuma, AZ     Phoenix, AZ            0.0               NaN       0.0
             Phoenix, AZ            0.0               NaN       0.0
             Phoenix, AZ            0.0               NaN       0.0
             Phoenix, AZ            0.0               NaN       0.0
             Phoenix, AZ            0.0               NaN       0.0

                              CARRIER_DELAY  WEATHER_DELAY  NAS_DELAY  \
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN            0.0            0.0        0.0
             Minneapolis, MN            NaN            NaN        NaN
             Minneapolis, MN            NaN            NaN        NaN
             Minneapolis, MN            NaN            NaN        NaN
             Minneapolis, MN            NaN            NaN        NaN
...                                     ...            ...        ...
Yuma, AZ     Phoenix, AZ                NaN            NaN        NaN
             Phoenix, AZ                0.0            0.0        0.0
             Phoenix, AZ                NaN            NaN        NaN
             Phoenix, AZ                NaN            NaN        NaN
             Phoenix, AZ                NaN            NaN        NaN

                              SECURITY_DELAY  LATE_AIRCRAFT_DELAY
ORIGIN_CITY  DEST_CITY
Aberdeen, SD Minneapolis, MN             0.0                 46.0
             Minneapolis, MN             NaN                  NaN
             Minneapolis, MN             NaN                  NaN
             Minneapolis, MN             NaN                  NaN
             Minneapolis, MN             NaN                  NaN
...                                      ...                  ...
Yuma, AZ     Phoenix, AZ                 NaN                  NaN
             Phoenix, AZ                 0.0                 37.0
             Phoenix, AZ                 NaN                  NaN
             Phoenix, AZ                 NaN                  NaN
             Phoenix, AZ                 NaN                  NaN

[7422037 rows x 17 columns]

Χάρη στο ιεραρχικό ευρετήριο μπορούμε να κάνουμε εύκολα και πιο περίπλοκα ερωτήματα.

θα επιλέξουμε τις πτήσεις που έγιναν από Southwest Airlines (WN), Delta (DL), και American Airlines (AA) με αναχώρηση από New York JFK (JFK) ή New York La Guardia (LGA).

In [19]:
# result = hierarchical_flights2.loc[(hierarchical_flights2['ORIGIN_CITY'] == 'Yuma, AZ') & (hierarchical_flights2['Minneapolis, MN'] == 10)]

value_to_find = 'Yuma, AZ'
row = hierarchical_flights2.loc[hierarchical_flights2['ORIGIN_CITY'] == value_to_find]

KeyError: 'ORIGIN_CITY'

In [ ]:
result = hierarchical_flights2.loc[('Yuma, AZ' , 'Phoenix, AZ')]
result

In [ ]:
result_filtered = hierarchical_flights2[(hierarchical_flights2.index.get_level_values('ORIGIN_CITY') == 'Yuma, AZ') & 
                                        ((hierarchical_flights2.index.get_level_values('DEST_CITY') == 'Phoenix, AZ') |
                                         (hierarchical_flights2.index.get_level_values('DEST_CITY') == 'Minneapolis, MN'))]


result_filtered.shape

Ας πούμε ότι μας ενδιαφέρει το υποσύνολο των παραπάνω με άφιξη στο San Francisco (SFO):

In [ ]:
#TODO

Και αν θέλουμε να βρούμε όλες τις πτήσεις μεταξύ αυτών των αεροδρομίων, ανεξαρτήτως εταιρείας;

Αυτό μπορούμε να το κάνουμε εύκολα χρησιμοποιώντας ένα IndexSlice.

In [ ]:
#TODO

# to do : PANDAS : APPLY , GROUPBY, MERGE, RANK, DROP_DUPLICATES, ISIN

In [ ]:
import pandas as pd

# Δημιουργία ενός DataFrame
data = {'Όνομα': ['Αλέξης', 'Μαρία', 'Γιώργος'],
        'Ηλικία': [28, 22, 35],
        'Βαθμολογία': [90, 85, 88]}

df = pd.DataFrame(data)
df

In [ ]:
data = {'Όνομα': ['Αλέξης', 'Μαρία', 'Γιώργος'],
        'Ηλικία': [28, 22, 35],
        'Βαθμολογία': [90, 85, 88]}

df = pd.DataFrame(data)

# Ορισμός μιας συνάρτησης που προσθέτει 5 σε κάθε βαθμολογία
def add_five(x):
    return x + 5

# Εφαρμογή της συνάρτησης στη στήλη 'Βαθμολογία'
df['Βαθμολογία'] = df['Βαθμολογία'].apply(add_five)

print(df)

In [ ]:
selected_columns = ['Βαθμολογία', 'Ηλικία']

# Ορισμός μιας συνάρτησης που υπολογίζει το άθροισμα των επιλεγμένων στηλών
sum_selected_columns = lambda row: row[selected_columns].sum()

# Εφαρμογή της συνάρτησης σε κάθε γραμμή του DataFrame
df['sum_of_rows'] = df.apply(sum_selected_columns, axis=1)
df

# merge

In [ ]:
data = {'Στήλη1': [1, 2, 3],
        'Στήλη2': [4, 5, 6],
        'Στήλη3': [7, 8, 9]}

df = pd.DataFrame(data)

# Δημιουργία ενός άλλου DataFrame με τις επιλεγμένες στήλες
selected_columns = ['Στήλη1', 'Στήλη3']
df_selected = df[selected_columns]

# Συνάντηση (merge) των δύο DataFrames βάσει του index
result = pd.merge(df, df_selected, left_index=True, right_index=True)

print(result)

In [ ]:
students_data = {'Όνομα': ['Αλέξης', 'Μαρία', 'Γιώργος'],
                 'Ηλικία': [18, 17, 19],
                 'Μαθητής_ID': [1, 2, 3]}

grades_data = {'Μαθητής_ID': [1, 2, 3],
               'Μαθήματα': ['Μαθηματικά', 'Φυσική', 'Χημεία'],
               'Βαθμοί': [95, 88, 92]}

df_grades = pd.DataFrame(grades_data)
df_students = pd.DataFrame(students_data)

# Επιλογή των στηλών που θέλουμε να συνδυάσουμε
selected_columns = ['Μαθητής_ID', 'Βαθμοί']

# Συνάντηση (merge) των DataFrames βάσει του 'Μαθητής_ID'
merged_df = pd.merge(df_students, df_grades[selected_columns], on='Μαθητής_ID', how='inner')
merged_df

In [ ]:
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

newdf = df1.merge(df2, )
newdf