In [27]:
import pandas as pd

flights = pd.read_csv('C:/Users/xrist/OneDrive/Υπολογιστής/data/Data-Science-Tutorials/data/flights.csv', dtype={'DEP_DELAY': float}, parse_dates=['FL_DATE'])
print(flights.shape)
flights.sample(5)

(7422037, 20)

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 19
6530561,2019-11-17,N948WN,WN,TUL,"Tulsa, OK",DEN,"Denver, CO",625.0,0.0,714.0,-1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7153788,2019-12-18,N810UA,UA,ORD,"Chicago, IL",IAH,"Houston, TX",1603.0,-2.0,1836.0,-20.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6539546,2019-11-18,N110UW,AA,MSP,"Minneapolis, MN",CLT,"Charlotte, NC",1434.0,4.0,1752.0,-13.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5517199,2019-09-29,N472UA,UA,DFW,"Dallas/Fort Worth, TX",DEN,"Denver, CO",552.0,-10.0,644.0,-20.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
334479,2019-01-18,N127UW,AA,PHL,"Philadelphia, PA",TPA,"Tampa, FL",1900.0,75.0,2140.0,67.0,0.0,NaN,0.0,67.0,0.0,0.0,0.0,0.0,NaN

In [28]:
flights.drop('Unnamed: 19', axis=1, inplace=True)
flights.sample(5)

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3911414,2019-07-14,N970NN,AA,FLL,"Fort Lauderdale, FL",DFW,"Dallas/Fort Worth, TX",1526.0,-9.0,1739.0,-9.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2649550,2019-05-15,N828AW,AA,PHX,"Phoenix, AZ",DSM,"Des Moines, IA",838.0,-2.0,1322.0,-2.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7221790,2019-12-21,N691NK,NK,CMH,"Columbus, OH",LAS,"Las Vegas, NV",2124.0,14.0,2220.0,-24.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3434113,2019-06-21,N933AT,DL,MSP,"Minneapolis, MN",BNA,"Nashville, TN",1516.0,-7.0,1711.0,-8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2888097,2019-05-26,N7745A,WN,BNA,"Nashville, TN",TPA,"Tampa, FL",1206.0,6.0,1439.0,-6.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [29]:
hierarchical_flights = flights.set_index(['CARRIER', 'ORIGIN', 
                                          'DEST', 'TAIL_NUM', 
                                          'FL_DATE'])

hierarchical_flights = hierarchical_flights.sort_index(level=['CARRIER', 'ORIGIN', 
                                                              'DEST', 'TAIL_NUM', 
                                                              'FL_DATE'])

hierarchical_flights

                                                       ORIGIN_CITY_NAME  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N131EV   2019-02-22  Allentown/Bethlehem/Easton, PA
                             2019-04-19  Allentown/Bethlehem/Easton, PA
                             2019-07-10  Allentown/Bethlehem/Easton, PA
                    N132EV   2019-02-28  Allentown/Bethlehem/Easton, PA
                             2019-04-09  Allentown/Bethlehem/Easton, PA
...                                                                 ...
YX      XNA    PHL  N440YX   2019-11-09                Fayetteville, AR
                    N442YX   2019-09-04                Fayetteville, AR
                             2019-11-20                Fayetteville, AR
                    N445YX   2019-09-16                Fayetteville, AR
                             2019-10-07                Fayetteville, AR

                                           DEST_CITY_NAME  DEP_TIME  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N131EV   2019-02-22       Atlanta, GA    1319.0
                             2019-04-19       Atlanta, GA    1308.0
                             2019-07-10       Atlanta, GA    1754.0
                    N132EV   2019-02-28       Atlanta, GA    1745.0
                             2019-04-09       Atlanta, GA    1841.0
...                                                   ...       ...
YX      XNA    PHL  N440YX   2019-11-09  Philadelphia, PA    1552.0
                    N442YX   2019-09-04  Philadelphia, PA    1553.0
                             2019-11-20  Philadelphia, PA    1551.0
                    N445YX   2019-09-16  Philadelphia, PA    1547.0
                             2019-10-07  Philadelphia, PA    1545.0

                                         DEP_DELAY  ARR_TIME  ARR_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N131EV   2019-02-22        9.0    1545.0       21.0
                             2019-04-19        2.0    1546.0       25.0
                             2019-07-10       -1.0    1951.0      -15.0
                    N132EV   2019-02-28       -8.0    1957.0      -17.0
                             2019-04-09       43.0    2148.0       94.0
...                                            ...       ...        ...
YX      XNA    PHL  N440YX   2019-11-09       -6.0    1956.0       11.0
                    N442YX   2019-09-04       -2.0    2016.0       27.0
                             2019-11-20       -7.0    1926.0      -19.0
                    N445YX   2019-09-16       -7.0    1935.0      -13.0
                             2019-10-07       -9.0    1930.0      -17.0

                                         CANCELLED CANCELLATION_CODE  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N131EV   2019-02-22        0.0               NaN
                             2019-04-19        0.0               NaN
                             2019-07-10        0.0               NaN
                    N132EV   2019-02-28        0.0               NaN
                             2019-04-09        0.0               NaN
...                                            ...               ...
YX      XNA    PHL  N440YX   2019-11-09        0.0               NaN
                    N442YX   2019-09-04        0.0               NaN
                             2019-11-20        0.0               NaN
                    N445YX   2019-09-16        0.0               NaN
                             2019-10-07        0.0               NaN

                                         DIVERTED  CARRIER_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N131EV   2019-02-22       0.0            9.0
                             2019-04-19       0.0            0.0
                             2019-07-10       0.0            NaN
                    N132EV   2019-02-28       0.0            NaN
                             2019-04-09       0.0            0.0
...                                           ...            ...
YX      XNA    PHL  N440YX   2019-11-09       0.0            NaN
                    N442YX   2019-09-04       0.0            0.0
                             2019-11-20       0.0            NaN
                    N445YX   2019-09-16       0.0            NaN
                             2019-10-07       0.0            NaN

                                         WEATHER_DELAY  NAS_DELAY  \
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N131EV   2019-02-22            0.0       12.0
                             2019-04-19            0.0       25.0
                             2019-07-10            NaN        NaN
                    N132EV   2019-02-28            NaN        NaN
                             2019-04-09            0.0       51.0
...                                                ...        ...
YX      XNA    PHL  N440YX   2019-11-09            NaN        NaN
                    N442YX   2019-09-04            0.0       27.0
                             2019-11-20            NaN        NaN
                    N445YX   2019-09-16            NaN        NaN
                             2019-10-07            NaN        NaN

                                         SECURITY_DELAY  LATE_AIRCRAFT_DELAY
CARRIER ORIGIN DEST TAIL_NUM FL_DATE
9E      ABE    ATL  N131EV   2019-02-22             0.0                  0.0
                             2019-04-19             0.0                  0.0
                             2019-07-10             NaN                  NaN
                    N132EV   2019-02-28             NaN                  NaN
                             2019-04-09             0.0                 43.0
...                                                 ...                  ...
YX      XNA    PHL  N440YX   2019-11-09             NaN                  NaN
                    N442YX   2019-09-04             0.0                  0.0
                             2019-11-20             NaN                  NaN
                    N445YX   2019-09-16             NaN                  NaN
                             2019-10-07             NaN                  NaN

[7422037 rows x 14 columns]

In [30]:
flights=flights.rename(columns={'ORIGIN_CITY_NAME':'ORIGIN_CITY','DEST_CITY_NAME':'DEST_CITY'})
flights

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2019-01-01,N8974C,9E,AVL,"Asheville, NC",ATL,"Atlanta, GA",1658.0,-7.0,1758.0,-22.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,N922XJ,9E,JFK,"New York, NY",RDU,"Raleigh/Durham, NC",1122.0,-8.0,1255.0,-29.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,N326PQ,9E,CLE,"Cleveland, OH",DTW,"Detroit, MI",1334.0,-7.0,1417.0,-31.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,N135EV,9E,BHM,"Birmingham, AL",ATL,"Atlanta, GA",1059.0,-1.0,1255.0,-8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,N914XJ,9E,GTF,"Great Falls, MT",MSP,"Minneapolis, MN",1057.0,-3.0,1418.0,-17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422032,2019-12-31,N759EV,OO,ORD,"Chicago, IL",ROC,"Rochester, NY",1138.0,1004.0,1416.0,985.0,0.0,NaN,0.0,985.0,0.0,0.0,0.0,0.0
7422033,2019-12-31,N761ND,OO,ORD,"Chicago, IL",FWA,"Fort Wayne, IN",2139.0,189.0,2331.0,165.0,0.0,NaN,0.0,148.0,0.0,0.0,0.0,17.0
7422034,2019-12-31,N192SY,OO,DAL,"Dallas, TX",PDX,"Portland, OR",754.0,-6.0,1013.0,-17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7422035,2019-12-31,N403SY,OO,PDX,"Portland, OR",DAL,"Dallas, TX",708.0,-2.0,1246.0,-13.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
7422036,2019-12-31,N183SY,OO,TUS,"Tucson, AZ",SJC,"San Jose, CA",802.0,-13.0,859.0,-36.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [31]:
hierarchical_flights.index.get_level_values('CARRIER').value_counts()
# hierarchical_flights.index.get_level_values(0).value_counts()

CARRIER
WN    1363946
DL     991986
AA     946776
OO     836445
UA     625910
YX     329149
MQ     327007
B6     297411
OH     289304
AS     264816
9E     257132
YV     227888
NK     204845
F9     135543
EV     134683
G4     105305
HA      83891
Name: count, dtype: int64

In [32]:
hierarchical_flights.index.get_level_values('ORIGIN').value_counts()

ORIGIN
ATL    395009
ORD    339606
DFW    304344
DEN    252026
CLT    235496
        ...
HYA        83
DLG        82
GST        82
PGV        80
AKN        61
Name: count, Length: 360, dtype: int64

In [33]:
hierarchical_flights.index.get_level_values('DEST').value_counts()[:10]

DEST
ATL    395026
ORD    339569
DFW    304346
DEN    252064
CLT    235490
LAX    219996
IAH    179682
PHX    175343
LGA    171665
SFO    170966
Name: count, dtype: int64

In [34]:
delayed_flights = hierarchical_flights.loc[hierarchical_flights['DEP_DELAY'] > 0]
delayed_flights['DEP_DELAY']

CARRIER  ORIGIN  DEST  TAIL_NUM  FL_DATE
9E       ABE     ATL   N131EV    2019-02-22      9.0
                                 2019-04-19      2.0
                       N132EV    2019-04-09     43.0
                       N133EV    2019-04-25     10.0
                                 2019-12-23     49.0
                                               ...
YX       XNA     PHL   N138HQ    2019-09-06    107.0
                                 2019-12-13     36.0
                       N416YX    2019-09-28      3.0
                       N428YX    2019-10-16     22.0
                       N433YX    2019-12-01    116.0
Name: DEP_DELAY, Length: 2521492, dtype: float64

In [35]:
delayed_flights_by_origin = delayed_flights.groupby(level='ORIGIN')['DEP_DELAY']\
    .agg(['median', 'mean', 'count'])\
    .sort_values(by='median', ascending=False)
delayed_flights_by_origin[:10]

        median        mean  count
ORIGIN
DVL       77.0  141.301587    126
SLN       59.0  110.613546    251
SHD       57.0  116.976608    171
HYS       51.0  117.920266    301
VEL       50.0   88.461538    130
UIN       48.0   90.852071    169
ATY       48.0  113.400000    105
OTH       47.0   89.480519    154
ACV       46.0   91.726210    599
CMX       46.0  112.664894    188

In [36]:
# TODO
# Καλό θα είναι να δούμε και το ποσοστό των πτήσεων που καθυστερούν.
# to_frame()#

air_traffic = hierarchical_flights.groupby('ORIGIN').size().to_frame(name='total_departures')
air_traffic.sort_values(by='total_departures',ascending=False)[1:10]

        total_departures
ORIGIN
ORD               339606
DFW               304344
DEN               252026
CLT               235496
LAX               219952
IAH               179688
PHX               175328
LGA               171665
SFO               170918

# merge frames

In [37]:
delayed_flights_by_origin = pd.merge(air_traffic, delayed_flights_by_origin, left_index=True, right_index=True)
delayed_flights_by_origin

        total_departures  median       mean  count
ORIGIN
ABE                 5014    21.0  54.495347   1397
ABI                 2272    18.0  46.328424    679
ABQ                23731    12.0  34.567696   8420
ABR                  750    20.0  80.924324    185
ABY                 1005    17.5  56.511029    272
...                  ...     ...        ...    ...
WYS                  264    11.0  86.491525     59
XNA                14134    26.5  57.202274   3782
XWA                  207    19.0  75.881720     93
YAK                  722    15.0  32.479042    167
YUM                 1919    18.5  54.035912    362

[360 rows x 4 columns]

# perc % delay by origin (group, merge)

In [40]:
delayed_flights_by_origin['perc_of_delay']= \
    delayed_flights_by_origin['count']/delayed_flights_by_origin['total_departures']

delayed_flights_by_origin

        total_departures  median       mean  count  perc_of_delay
ORIGIN
ABE                 5014    21.0  54.495347   1397       0.278620
ABI                 2272    18.0  46.328424    679       0.298856
ABQ                23731    12.0  34.567696   8420       0.354810
ABR                  750    20.0  80.924324    185       0.246667
ABY                 1005    17.5  56.511029    272       0.270647
...                  ...     ...        ...    ...            ...
WYS                  264    11.0  86.491525     59       0.223485
XNA                14134    26.5  57.202274   3782       0.267582
XWA                  207    19.0  75.881720     93       0.449275
YAK                  722    15.0  32.479042    167       0.231302
YUM                 1919    18.5  54.035912    362       0.188640

[360 rows x 5 columns]

Με ένα ιεραρχικό ευρετήριο μπορούμε να φιλτράρουμε τα δεδομένα μας εύκολα, χωρίς να χρειάζεται να χρησιμοποιούμε λογικές συνθήκες σύγκρισης.

Αν θέλουμε να βρούμε τις πτήσεις που έγιναν από Southwest Airlines (WN), Delta (DL), και American Airlines (AA) αρκεί να δώσουμε:

In [ ]:
#TODO

Χάρη στο ιεραρχικό ευρετήριο μπορούμε να κάνουμε εύκολα και πιο περίπλοκα ερωτήματα.

θα επιλέξουμε τις πτήσεις που έγιναν από Southwest Airlines (WN), Delta (DL), και American Airlines (AA) με αναχώρηση από New York JFK (JFK) ή New York La Guardia (LGA).

In [ ]:
#TODO

Ας πούμε ότι μας ενδιαφέρει το υποσύνολο των παραπάνω με άφιξη στο San Francisco (SFO):

In [ ]:
#TODO

Και αν θέλουμε να βρούμε όλες τις πτήσεις μεταξύ αυτών των αεροδρομίων, ανεξαρτήτως εταιρείας;

Αυτό μπορούμε να το κάνουμε εύκολα χρησιμοποιώντας ένα IndexSlice.

In [ ]:
#TODO

PANDAS : APPLY , GROUPBY, MERGE, RANK, DROP_DUPLICATES, ISIN